.field {
  border: none;
  @include adjust-font-size-to($slide-font-size,1,$apply-font-size);
  @include padding-leader(0.2);
  @include padding-trailer(0.2);
  @include margin-trailer(0.5);
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  width: 250px;
  color: #af8cbb;
  border-bottom: 2px solid white;

  &:focus {
    border-bottom: 2px $border-field-color solid;
  }
}