@import "compass";
@import "foundation-grid";
@import "fonts";

$violet: #9189ff;
$orange: #e05d41;
$base-font-size: 14px;
$base-line-height: 20px;

@include global-reset;
@include establish-baseline;

@import "layout";
@import "modules/nav";