body {
  background-color: $background;
  font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
  }

  header {
    background-color: $blue;
    border-bottom: 3px $orange solid;
    .wrapper {
      @include outerRow;
    }
  }

    #small-logo {
      @include column(5);
      .img {
        background-image: image-url("logo-small.png");
        width: 195px;
        height: 41px;
        margin: 10px 0 6px;
      }
    }

    #menu {
      @include column(7);
    }
  #content {
    background-image: image-url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
  }
  footer {
    background-color: $green;
    border-top: 3px $light-orange solid;
    color: white;
    @include padding-leader;
    @include padding-trailer;
    @include margin-leader(4);
    @include adjust-font-size-to($apply-font-size);
    @include box-sizing(border-box);
    font-weight: bold;
    @include pie-clearfix;
    #contact {
      float: left;
      padding-left: 10px;
    }
    #copyright {
      float: right;
      padding-right: 10px;
    }
  }  